#superhero-section {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 80vh;

    
    background-image: url("../img/pic_11.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#superhero-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;

    width: 100%;
    height: 100%;

    backdrop-filter: blur(5px);

    color: white;
    font-size: xx-large;
    text-shadow: 1px 1px 5px black;
}

#superhero-title img {
    height: 50%;
    max-height: 250px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0px 1px 1px grey;
    margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {

    #superhero-title {
        font-size: x-large;
    }

}

/**********************************************/

#address-section {
    background-color: brown;
    width: 100%;
    height: 50px;
}

/************************************************/
#who-section {
    background-image: url("../img/pic_10.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 600px;
    width: 100%;
}

#who-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    padding: 15px;
}

#who-text {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

    width: 50%;
    margin: 10px;
    padding: 15px;
    
    color: brown;
    text-align: justify;
    background-color: whitesmoke;
}

#who-text p{
    font-size: x-large;
    font-weight: 600;
}

#who-text hr {
    width: 100%;
    margin: 15px 0px;
}

#who-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;

    margin: 10px;
    width: 50%;
}

#who-gallery img {
    display: inline-block;
    width: 50%;
    margin: 0px 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px black;
}

@media only screen and (max-width: 600px) {

    #who-container {
        flex-flow: column;
    }

    #who-text {
        width: 100%;
    }

    #who-gallery{
        width: 100%;
    }
}

/*****************************************************/

#section-social {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100px;
    padding: 10px 5%;
    background-color: brown;
}

.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    color: white;
    text-decoration: underline;
    
    width: 30%;
    height: 100%;
}

.social-link:hover {
    font-weight: 600;
}

.social-link:active {
    font-weight: 600;
}

.social-link img {
    display: block;
    height: 80%;
}

.social-link p {
    display: block;
    height: 20%;
}

/*****************************************************/

#contact-section {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    min-height: 500px;

    background-image: url("../img/pic_10.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#contact-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    color: white;
    text-shadow: 1px 1px 2.5px black;
    text-align: center;
    font-size: x-large;
}